body > div.container {
    margin-top: 65px;
}

#tweet-container {
    margin: 10px;
}

#tweet-form {
}

#tweet-container textarea {
    float: left;
    resize: none;
    vertical-align: middle;
}

#tweet-container button {
    float: right;
}

#timeline {
    padding: 10px;
    clear: both;
}

.tweet > .author {
    font-weight: bold;
    font-size: 1.2em;
}

.tweet > .content {
}

.tweet > .date {
    font-size: 0.9em;
    opacity: 0.7;
}
