@(loginForm: Form[form.LoginForm])(message: String)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>test</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/index.css")">
    </head>
    <body>
        <body>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header pull-left">
                        <div class="navbar-brand">
                            <a href="/">(^o^)</a>
                        </div>
                        <ul class="nav navbar-nav pull-left">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Mention</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                <h2>Login</h2>
                @helper.form(action = routes.LogController.loginComplete()) {
                    @if(message != null && message != "") {
                        <div class="alert alert-danger">
                            @message
                        </div>
                    }
                    <div>
                        Username
                        <input class="form-control" type="text" placeholder="Username" name="username" />
                    </div>
                    <div>
                        Password
                        <input class="form-control" type="password" placeholder="Password" name="password" />
                    </div>
                    <button type="submit" class="btn btn-default">login</button>
                }
            </div>
        </body>
    </body>
</html>
