@(user: User, isMe: Boolean, following: Boolean, followed: Boolean)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>test</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/index.css")">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header pull-left">
                    <div class="navbar-brand">
                        <a href="/">(^o^)</a>
                    </div>
                    <ul class="nav navbar-nav pull-left">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Mention</a></li>
                    </ul>
                </div>
                <div id="navbar-header">
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="#">kuwa</a></li>
                    </ul>
                </div>

            </div>
        </nav>
        <div class="container">
            @if(user == null) {
                <h2>
                    This user does not exist
                </h2>
            }else{
                <h1>
                    @user.username
                </h1>
                @if(!isMe) {
                    @if(following) {
                        @helper.form(action = routes.UserController.unfollow(user.username)) {
                            <button type="submit" class="btn btn-danger">Unfollow</button>
                        }
                    } else {
                        @helper.form(action = routes.UserController.follow(user.username)) {
                            <button type="submit" class="btn btn-primary">Follow</button>
                        }
                    }
                }
                <div>
                    <h3>Tweet</h3>
                    @user.tweets.size()
                </div>
                <div>
                    <h3>Followings</h3>
                    @user.following.size()
                </div>
                <div>
                    <h3>Followers</h3>
                    @user.followers.size()
                </div>
            }
        </div>
    </body>
</html>
