@(regForm: Form[form.RegisterForm])(message: String)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>test</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/index.css")">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header pull-left">
                    <div class="navbar-brand">
                        <a href="/">(^o^)</a>
                    </div>
                    <ul class="nav navbar-nav pull-left">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Mention</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <h2>Register</h2>
            @helper.form(action = routes.RegistrationController.registerComplete()) {
                @if(message != null && message != "") {
                    <div class="alert alert-danger">
                    @message
                    </div>
                }
                <div>
                @helper.input(regForm("username")) { (_, name, _, _) =>
                    <input class="form-control" type="text" name="@name" placeholder="username" />
                }
                </div>
                <div>
                @helper.input(regForm("password")) { (_, name, _, _) =>
                    <input class="form-control" type="password" name="@name" placeholder="password" />
                }
                </div>
                <button type="submit" class="btn btn-default">register</button>
            }
        </div>
    </body>
</html>
