<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>test</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/index.css")">
    </head>
    <body>
        <body>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header pull-left">
                        <div class="navbar-brand">
                            <a href="/">(^o^)</a>
                        </div>
                        <ul class="nav navbar-nav pull-left">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Mention</a></li>
                        </ul>
                    </div>
                    <div id="navbar-header">
                        <ul class="nav navbar-nav pull-right">
                        </ul>
                    </div>

                </div>
            </nav>
            <div class="container">
                <div class="jumbotron">
                    <h1>Welcome!!!</h1>
                    <p><a class="btn btn-primary btn-lg" href="/register" role="button">Register Now</a></p>
                    <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login</a></p>
                </div>
            </div>
        </body>
    </body>
</html>
